{% extends "base.html" %}
{% block main %}
<div class="lemma_info">
<ul class="lemma_info_top">
    <li><a href="https://tools.wmflabs.org/ordia/{{ word_id }}" target="_blank" >Ordia</a></li>
    <li><a href="https://wikidata.org/wiki/Lexeme:{{ word_id }}" target="_blank" >Wikidata</a></li>
</ul>
<h1>{{ lemma }}</h1>
<h2>{{ lang }} · {{ pos }} · {{ word_id }}</h2>
</div>
<form method="post" id="sense_adder">
<input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
<div class="form-group">
<label for="sense">Add the first Sense to this Lemma!</label>

<input {{ form_attributes('sense') }} class="form-control" autofocus="autofocus" autocomplete="off" required>
<p><input {{ form_attributes('word_id') }} type = "hidden" value = "{{ word_id }}" /></p>
</div>
<a href="{{ url_for('add', lang=lang) }}" class="btn btn-secondary">Give me another lemma</a>
<button type="submit" class="btn btn-primary float-right">Add</button>
</form>

{% endblock %}
